[2011-09-28 11:48] dandumit opened #1 "Build solution error"
Hi Adam,
Great job.  I am trying to build smoothie and I have to build first gcc4mbed.
I'm on windows vista and I receive the following error :

debug.c:18:19: fatal error: error.h: No such file or directory

it seems that I am missing error.h file ...
Kind Regards,
Daniel

[2011-09-28 17:19] adamgreen opened #2 "Silence rd errors in install mbed makefile"
When installing the mbed headers and libs for the first time, people see the following error in the make output:
`
rd /s /q FATFileSystem
The system cannot find the file specified.
cs-make[1]: [install_fat] Error 2 (ignored)
`

Modify the makefile to silence in addition to ignoring errors for this command on all platforms.

[2011-09-28 18:35] bobc opened #3 "Undefined reference building samples"
Hi there,

I just installed gcc4mbed from git, and I get the following errors trying to build the samples. I also got a lot of errors/warnings about "undefined [0] section", not sure whether that is expected or not.

./main.o: In function `__static_initialization_and_destruction_0':
/home/bob/git/gcc4mbed/samples/HelloWorld/main.cpp:20: undefined reference to`mbed::DigitalOut::DigitalOut(PinName,

[2011-09-29 18:04] #1 closed, assigned to adamgreen

[2011-09-29 19:57] #3 closed, assigned to adamgreen

[2011-10-01 00:11] adamgreen opened #4 "Delayed stdio handle open causes issues."
Reported by Charles Garcia-Tobin at http://mbed.org/forum/mbed/topic/2701/?page=2#comment-13988

Hi all

First let me say thanks for this work. It's amazing to be able to compile off-line. I've been playing around with it and had no problem getting it up and running. However I have a problem with Serial, and I was wondering how much the mbed library is functional when used like this. I confess I k

[2011-10-03 05:52] #4 closed, assigned to adamgreen

[2011-10-03 05:53] #2 closed, assigned to adamgreen

[2011-11-10 00:41] adamgreen opened #5 "win_install fails if Cygwin is in the path"
Users are seeing the following error text if they attempt to run win_install.cmd when they have Cygwin in their path:
win32\applydiff --binary -p1 <mbed.patch
/usr/bin/sh: win32applydiff: command not found
cs-make: **\* [patch_mbed] Error 127

[2011-11-10 03:22] #5 closed, assigned to adamgreen

[2012-10-02 17:31] Zerick opened #7 "linux and windows install not working"
Linux_install and win_install.cmd both failed today for me within minutes of each other.
This is my first attempt to use them, so perhaps I am overlooking something basic.  Same error both times:

cs-make[1]: Entering directory `C:/reprap/Smoothie/GIT/Smoothie/gcc4mbed/externa
l'
rd /s /q mbed >nul 2>nul & exit 0
win32\svn checkout --revision 28  http://mbed.org/projects/libraries/svn/mbed/tr
unk

[2012-10-06 23:23] #7 closed, assigned to adamgreen

[2012-11-08 12:23] geektopia opened #9 "./BuildShell followed by ./linux_install fails on ubuntu12.10 x64"
Useing latest smoothieware edge, on a newly installed ubuntu 12.10 machine.
This machine has no previously installed arm-none-eabi-g++ executable.

$ cd arthurwolf-Smoothie-2f7d3db/gcc4mbed
$ ./BuildShell
$ ./linux_install

fails with make[2]: arm-none-eabi-g++: Command not found

Solution was to install 32bit support
$sudo apt-get install ia32-libs

[2012-11-08 17:08] #9 closed, assigned to nobody

[2012-11-11 18:18] mickael9 opened #10 "Should be able to customize CFLAGS/CXXFLAGS"
The title says it all :)

[2013-01-10 23:20] #10 closed, assigned to adamgreen

[2013-01-13 18:13] schmiedl opened #11 "win_install.cmd:109 -> make clean: access denied"
Hi Adam,

Calling external/win32/make.exe clean in <b>win_install.cmd (line 109)</b> gives me an <b>access denied</b> error resulting in an early exit. The file is marked non-executable.

<b>quick fix:</b> insert a "pause" before line 109, mark file executable and continue building:

<pre>
schmiedl@golem /cygdrive/c/users/schmiedl/coding/gcc4mbed/external/win32
$ ls -l *.exe
-rw-r--r-- 1 schmiedl

[2013-01-14 02:03] #11 closed, assigned to adamgreen

[2013-03-07 16:54] mickael9 opened #12 "printf/scanf not working with long long int (int64_t)"
It seems that printf() (or scanf) will not accept %lld or anything with "ll".
Can something be done about this ?
Thanks!

[2013-06-04 16:08] dandumit opened #13 "under win I got Error while launching command: arm-none-eabi-gdb --version"
in fact it's not an issue of gcc4mbed, probably it's related to Eclipse configuration, I just need some guidance on setting Eclipse to debug Smoothieboard

[2013-06-06 06:24] #13 closed, assigned to nobody

[2013-10-28 14:46] xythobuz opened #14 "Makefile broken on OS X 10.9"
Since updating OS X to 10.9 I can no longer compile any gcc4mbed projects.
Some research leads me to believe that the following call to mkdir

[code]

fails without creating a directory LPC176x, thanks to the dot at the end.

Creating LPC176x before running make allows the compilation to succeed, but this should only be a temporary workaround. Sadly, I'm not able to fix the issue in the Makefile.

[2013-11-07 10:32] #14 closed, assigned to adamgreen

[2014-01-15 13:04] Jags27 opened #15 "binary file size issue with gcc arm toolchain for Freescale Freedom KL25Z board"
Hi Adam,

I am working on Freescale Freedom KL25Z board. I am planning to use available mbed libraries for this processor in my project using gcc. I have tried the export option in the mbed for gcc compiler. The exported gcc zip file from the mbed works without any issues.

But the size of binary generated out of this make file is almost 10 times more than the mbed generated binary file.

I have g

[2014-02-17 08:50] #15 closed, assigned to nobody

[2014-05-28 06:56] #12 closed, assigned to adamgreen

[2014-10-22 10:23] wind0r opened #16 "parse_pin cant compile. undefined reference to port_pin"
Hello,

I got a problem with the parse_pin function.
I think the linker do not linke the port_api.h but i do not know where to add it.

Example:

[code]

Makefile:

[code]

Error

[code]

[2014-10-23 13:09] #16 closed, assigned to nobody

[2014-11-14 08:00] rosterloh opened #17 "arm-none-eabi 2014q1"
Hi Adam,
Firstly thanks for a great project. Very helpful. I just wanted to know why you were using the q1 version of gcc-arm-embedded instead of the current q3 version? Is there a problem with it?

[2014-11-16 12:14] #17 closed, assigned to adamgreen

[2014-12-17 14:08] rosterloh opened #20 "Build error when including libraries"
Since the latest changes to automatically include the files from required libraries I have been getting the following error.

[code]

If I comment out MBED_LIBS in my local make file the project build fine but if I include any library I get this error. VERBOSE=1 doesn't give me any more information. Any ideas?

[2014-12-22 08:03] #20 closed, assigned to nobody

[2015-02-12 06:50] adamgreen opened #22 "Test pass for GCC 4.9-2014-q4-major and mbed SDK rev 93"
I have updated the [working branch](https://github.com/adamgreen/gcc4mbed/tree/working) to use mbed SDK rev 93 and the latest build of the GCC_ARM toolchain.

I have tested the platforms that I have access to but not the STM ones.
@svkatielee do you want to test the DISCO_F407VG and NUCLEO_F401RE platforms before I merge into the master branch?  You can skip running the install script to install t

[2015-02-12 10:46] weyoui commented on #22
Adam,

Thanks for asking to test NUCLEO_F411RE board with your new released branch.
I would like to test with  NUCLEO_F411RE  board and let you know the test
result.
I am doing my job in week days so I could test this in this weekend.

Thanks
weyoui

2015-02-12 15:50 GMT+09:00 Adam Green <notifications@github.com>:

[2015-02-12 21:17] adamgreen commented on #22
@weyoui Thanks for the quick response and helping out with the testing.  Testing this weekend works well with my schedule.  I don't plan to merge into master until next week.

[2015-02-14 01:20] svkatielee commented on #22
Hi Adam,
I was under sail the past 3 days. When wew arived here, there seems to be almost no internet.
If I can download anything, I would be glad to test it. This is the status of my repo:

/home/larryl/Electronics/STM32/gcc4mbed
nav2$ git remote -v
origin    https://github.com/svkatielee/gcc4mbed.git (fetch)
origin    https://github.com/svkatielee/gcc4mbed.git (push)
upstream    https://github.c

[2015-02-14 03:47] adamgreen commented on #22
@svkatielee Welcome back to port :)  Thanks so much for the offer to test.

It appears that you have co-mingled your own changes into the working branch on your repo.  I suspect that rather than trying to merge in my latest working branch, it will be easier for you to just pull down my working branch into a clean branch on your machine with commands like the following:
[code]

Those above commands

[2015-02-14 15:02] weyoui commented on #22
Adam,

I tested this "working" branch today so I share my result.

*. Tested board : NUCLEO_F411RE board
*. gcc version : latest GCC ARM cross compiler (4.9.3 20141119 (release))

1. HelloWorld -> Test result is Okay, LD2 LED on board is blinking as we expected
2. rtos_basic -> Tested looks Okay.
            This test case is using LED1 and LED2 but these two LEDs are same GPIO port in NUCLEO_F411

[2015-02-14 15:06] weyoui commented on #22
More comment,

[2015-02-15 04:23] adamgreen commented on #22
@weyoui Thanks for the test pass.  Sounds like it is probably ready to go.  Some feedback I have for your comments:
* It isn't really safe to switch rtos_basic to use printf() since such standard C library calls are not currently thread safe in GCC_ARM/newlib.
* Is there only one LED on these NUCLEO boards?  Can another pin be used instead of LED2 for some of the samples on those boards?
* I meant

[2015-02-15 05:23] weyoui commented on #22
Adam,

On NUCLEO_F411RE board, there are three LEDs totally.
But user can use one one LED. the others are used for dedicated usages like
power indicator and com port indicator.
I think other NUCLEO boards are same but I am not sure.

Thanks,
weyoui

2015-02-15 13:23 GMT+09:00 Adam Green <notifications@github.com>:

[2015-02-15 08:02] svkatielee commented on #22
Hi Adam,Sorry but it looks like I may not be able to test any for a few more days. The nly network access is thru cell phones here. Two carriers, one works good (3G) one not(Edge). I have the one that doesn't. I took 2 hours for yahoo to display these messages. I tried all day yesterday to download the working branch. Never more than 5 minutes before an error. Even tried getting the .zip gives up

[2015-02-15 09:03] adamgreen commented on #22
@svkatielee No worries.  The 411 test coverage should be enough for this release.  If you do update to the latest 93 based version later and hit any issues, then let me know.

Happy Sailing!

[2015-02-15 09:04] #22 closed

[2015-02-16 16:32] weyoui commented on #22
Adam,

I am testing another board, DISCO_F407VG.

HelloWorld is working well.
But StdIO example print out crashed characters.

"5�#%;5=#7��u#5���뿿��M!='5�=������W5�9!%'55��(�忽y�\^^Y�֯��׻U�t��U��T*�Y=#7=ʿm�a�U#-�W5�W忿��W5"

This looks like system clock setting is invalid or UART baud rate is wrong.
I set the UART board rate 9600 8N1 and no flow control.
One thing to note, I f

[2015-04-17 14:45] RealZogzog opened #28 "Add Xadow M0 as target device"
Hi, I'm new to mbed, and really wish to compile offline, so first, thank you for your work.
I'm using a quite obscure device: "Xadow M0" based on the LPC11U35FHI33/501 and I'm begging for help to add this device as build target.
It is supported by the mbed SDK so I followed the instructions about 'how to add a device' but with no success.

Here are some infos that may help you help me.
[code]

I u

[2015-04-17 22:08] adamgreen commented on #28
Hello Mikaël,

I have looked at your .mk file and it appears to contain what I would expect to see.  I don't see any obvious errors.

Are you able to build code with the online compiler for this target and have it run successfully?  What about exporting for GCC_ARM from the online compiler?  Does that work?

[2015-04-17 22:16] RealZogzog commented on #28
Hi, I'm able to compile an upload from the online compiler.

But I can't export anything useful, all option are grayed out (except: zip, online IDE and emblocks (don't work)) looks broken to me...

I tested zip once, but could not get it to compile.

[2015-04-17 22:24] adamgreen commented on #28
Ok, that gives me a couple of things to check on then.  I will look into it more later this evening.

[2015-04-17 22:30] RealZogzog commented on #28
Thank you, Please tell if I can help (run a/some test binaries).

[2015-04-17 23:20] adamgreen commented on #28
One other clarification, it is failing on a basic sample like HelloWorld right?  I see one bug in the GCC_ARM startup asm code where it uses the completely wrong names for the external interrupt handlers but that typically would only matter if your code was expecting to catch such an interrupt by naming a handler something like: FLEX_INT0_IRQHandler.  Typically the mbed SDK doesn't use the externa

[2015-04-17 23:25] RealZogzog commented on #28
I've only tried HelloWorld.

[2015-04-18 00:42] adamgreen commented on #28
Ok, I just looked at the online compiler and definitely see one problem that might cause the issue that you are seeing.  You could try building this C program on your development machine and then use it to update the LPC interrupt vector checksum:
[code]

[2015-04-18 01:03] RealZogzog commented on #28
WOW, I'm still trying to wrap my head around that, but it seems to work very well (at least for helloword).
Thank you very much.

[2015-04-18 01:20] adamgreen commented on #28
I am happy to hear that it gets HelloWorld working.

Most of the NXP LPC parts needs that checksum but most of the mbed enabled devices have code in their firmware update path which automatically update it.

[2015-04-18 13:10] RealZogzog commented on #28
And, with explanations, Thanks again.
I assume that my problem is solve and I won't matter what the size or complexity of my binary as long as I 'checksum' it.

[2015-04-19 01:58] adamgreen commented on #28
Yes, that should be the case.

[2015-04-21 14:15] RealZogzog commented on #28
Hello, I'm back with another problem, I can't do floating point operation with the offline compiler.

The "Analogin-HelloWorld" example work as intended when compiled online but fail to compute/output any float when compiled offline.

I've tried adding -mfloat-abi=soft to  C_FLAGS without success.

[2015-04-21 19:59] adamgreen commented on #28
I guess I don't know what your definition of doesn't work is but if it is just that you don't get the right output from something like printf() then you should check your project's makefile and make sure that
NO_FLOAT_PRINTF isn't set to a non-zero value.  If you copied the makefile from HelloWorld then it would be linking in a smaller version of printf() which doesn't support the display of float

[2015-04-21 20:09] RealZogzog commented on #28
And you are right, thank you.

[2015-05-26 13:16] KenjutsuGH opened #29 "DS1820 not working"
Good day,

Firstly, thank you so much for gcc4mbed! I am using it with my Nucleo F411RE on OS X with eClipse. I prefer offline compilation, since I do not always have internet access.

I am trying to get the  DS1820_HelloWorld program to run (https://developer.mbed.org/users/Sissors/code/DS1820_HelloWorld/). I can get it to compile, and I modified main.cpp as follows:

#define DATA_PIN        A0
#

[2015-05-26 13:46] ohagendorf commented on #29
You can check the linker option for printf/scanf float support. I've already seen several times a space within this option. And with that the option is ignored and the result looks like yours.

Olaf
--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-05-26 14:07] KenjutsuGH commented on #29
Thank you @ohagendorf ! That was it. In the makefile, I made the following two changes:

NO_FLOAT_SCANF  := 0
NO_FLOAT_PRINTF := 0

and everything is working as expected :+1:

[2015-05-26 14:29] KenjutsuGH commented on #29
Just one more question if I may: since I got the DS1820 working, I would like to create a DS1820 library. How would I do that using gcc4mbed? What needs to change in the makefile?

[2015-05-26 20:01] adamgreen commented on #29
gcc4mbed is currently written to expect library code to just be included in a subdirectory of each project which uses it as happens when you export projects from the mbed site.  The only libraries it supports are the ones from the mbed SDK itself.

[2015-05-26 20:01] #29 closed

[2015-06-06 07:15] adamgreen commented on #28
Two things:
* If you are happy with XADOW_M0 support now, then please feel free to send me a pull request with your new XADOW_M0-device.mk file and I will roll out in the next gcc4mbed update.
* There might be a way to get the checksum automatically updated during the build process so that you don't need to build the lpc_checksum app that I provided the code for above.  However it wouldn't be simp

[2015-06-06 07:15] #28 closed

[2015-06-06 08:16] RealZogzog commented on #28
I am very happy with XADOW_M0 support, but I miss the time and the
knowledge (non-git user) to do that.

I think the checksum could be calculated/injected from a bash script, I may
take a look a that later.

In the mean time should I send you the file ?

On Sat, Jun 6, 2015 at 9:15 AM, Adam Green <notifications@github.com> wrote:

[2015-06-07 12:49] KenjutsuGH opened #30 "NUCLEO_F103RB-device.mk"
Hello everyone

Just a repost from the **mbed** forum. Hopefully more **F103RB** users read this post and can test and confirm whether it worked.

Here is my attempt at a **NUCLEO_F103RB-device.mk** file:

[code]

I do not own such a board, but I decided to give it a go, since I wanted to use the mbed code on a **generic** (eBay) STM32F103 based board. I was able to get it to compile and upload th

[2015-06-07 19:20] adamgreen commented on #30
If you send a pull request with this added file then I can merge it in and prepare it for the next upcoming release of gcc4mbed.

Thanks!

[2015-06-08 07:29] KenjutsuGH commented on #30
Done :-)

[2015-06-09 18:19] adamgreen commented on #30
What has been done?

[2015-06-09 19:56] KenjutsuGH commented on #30
I'm sorry, I made a total hash of it. I completed the pull request a few moments ago.

[2015-06-09 20:34] adamgreen commented on #30
Thanks again.  It has been merged into the working branch.

[2015-06-09 20:34] #30 closed

[2015-07-06 20:20] jcady92 opened #33 "No Such File or Directory Install Error"
I'm installing on Windows 8.1 (NTFS file system).  I downloaded the compressed installation file and extracted it to C:\gcc4mbed.  Every time I run the win_install.cmd script it downloads the files and then fails when installing.  Here are the logs:

[code]

Does anyone have any idea what's going on?  Thanks!

[2015-07-06 23:55] adamgreen commented on #33
I have an idea as to what may be causing the issue.  Let me investigate.

[2015-07-07 00:43] adamgreen commented on #33
Nope.  That idea didn't pan out.  I shouldn't be explicitly trying to specify a "Program Files.." path from my makefiles.

@jcady92
The ``sh:`` part of your error message is very unexpected to me.  It is like ``make`` is trying to run a Posix shell even on Windows.  A bit of additional information would help me to track this down:
* How are you running win_install.cmd?  Are you first entering a co

[2015-07-07 03:03] jcady92 commented on #33
1) I tried clicking on the .cmd in explorer and running it from the cmd.exe shell, both with admin privileges and without.  Same result.

2) Here's my PATH variable:
[code]

3) It doesn't look like I have a MAKE environment variable.

4) Here's the output:
[code]

5) I did a `make clean` and it looked to successfully clean the sample.  So I did a `make` and it looks like it successfully built the

[2015-07-07 04:53] adamgreen commented on #33
Thanks for the extra information.

Yes, it just means that the makefile in the root isn't working as expected but the project specific ones are.

I have attempted to make a fix in the working branch to correct this problem.  You could try downloading https://github.com/adamgreen/gcc4mbed/archive/working.zip and see if that installs with no errors.

[2015-07-07 05:49] jcady92 commented on #33
That did the trick!  Installed perfectly.  Thanks Adam!

[2015-07-07 05:53] adamgreen commented on #33
Ok.  I will get it merged into the master branch as soon as I can.

Thanks for reporting, helping me troubleshoot, and testing.

-Adam

[2015-07-07 06:58] adamgreen commented on #33
Fixed now merged into master.

Thanks again,

Adam

[2015-07-07 06:58] #33 closed

[2015-07-09 00:38] jcady92 opened #34 "Including External MBED Library Fails Compilation"
My target is the NRF51-Dongle (I know it isn't supported, but I added support for it, it's pretty close to the NRF51822).

I am able to compile just fine using gcc4mbed in Eclipse with a simple project, like HelloWorld.  My project is a Bluetooth LE project, so I need to include the BLE_API and NRF51822 libraries that MBED makes.  The issue is that whenever I put those directories into my build di

[2015-07-09 00:41] adamgreen commented on #34
gcc4mbed samples/ folder has a BLEHearRate sample already.  Can you start with that first?

[2015-07-09 00:57] jcady92 commented on #34
Well, would you look at that.  I completely missed that sample.  That looks like it will be of some help!

It looks like the libs are about a month or so old, though.  So it's still a little worth it to me to figure out how to drop in the newest ones myself.  Do you have any idea what might be going on?

[2015-07-09 01:17] adamgreen commented on #34
Maybe you need to match the mbed SDK in external with the BLE / nRF51822 libs?  Are you able to build the existing sample for your new NRF51-Dongle?

[2015-07-09 01:31] jcady92 commented on #34
Hmmmm, that is a good idea.  I'll give that a shot.

The sample built no problem.

[2015-07-09 02:02] jcady92 commented on #34
Looks like the problem persists, even with the latest mbed.

[2015-07-09 03:51] adamgreen commented on #34
If you pull down the latest mbed SDK into the external directory of gcc4mbed, make sure that you do a "make clean-all" before attempting the first build.  That will make sure that any old files get cleaned out.

[2015-07-09 03:53] jcady92 commented on #34
I didn't do that, but the build files for mbed rely in the mbed directory itself, right?  I did delete the entire mbed directory and replace it with the one I pulled down, so that shouldn't be the issue.

[2015-07-09 04:10] adamgreen commented on #34
Ok.  I guess I don't know what is causing the problem then.  It sounds like you have done what I would have done.

I can look at it when I update gcc4mbed to a newer version of the mbed SDK later in the year and run the accompanying test pass.

[2015-07-09 14:53] jcady92 commented on #34
Sounds good to me, thanks for the support.  For now, the sample fulfills my needs, so I'm satisfied!

[2015-07-09 20:47] jcady92 opened #35 "GDB Cannot View Variables"
When running the debugger in Eclipse, I'm unable to see the value of any local variables.

I modified the HelloWorld sample to the following:

[code]

Then I deployed it to my target (NRF51-Dongle).  I started a gdbserver with pyOCD and started debugging using Eclipse.  If I stop at a breakpoint inside the while loop, Eclipse is unable to give me the value for 'i'.  It reports this error on inspec

[2015-07-09 22:28] jcady92 commented on #35
I just made the same program on the mbed online compiler and exported it to GCC.  Booting that up in Eclipse, building, and deploying in the same way to the same target.  I then started the pyOCD GDB server and debugged with the generated elf.  Success!  It was able to correctly inspect the symbols.  So it's looking more like it's a problem with the elf that gcc4mbed is generating.

[2015-07-09 22:55] jcady92 commented on #35
Even more interesting.  I had a couple variables that were "optimized out" from Eclipse with the mbed build.  So I changed the optimization level to O0.  After changing it to O0 the same problem reproduced in my first post with not being able to view any variables with the same errors.  Optimization O1 seems to work fine though (though it optimizes out some variables).  So perhaps not a problem wi

[2015-07-10 01:32] adamgreen commented on #35
Yes, this is an optimization issue and has nothing to do with gcc4mbed.  If you want guaranteed access to variables you unfortunately need to use -O0.  I am not surprised that the ``i`` variable in your above example gets optimized out by a modern compiler.

[2015-07-10 01:32] #35 closed

[2015-07-10 02:39] jcady92 commented on #35
I'm not sure that's actually the case, though.  If I was using anything but the -O0 optimization, I could access some variables and it said some were optimized out.  But if I used the -O0 optimization, that was when I couldn't access any variable and it threw this error:

[code]

That sounds like atypical behavior, correct?

[2015-07-10 07:38] adamgreen commented on #35
Is that address, 0x20007fdc, valid for your platform?  If so, sounds like a GDB or pyOCD issue.  Sometimes I see errors like that if GDB rounds up a read that takes it just outside of a valid memory region and "set mem inaccessible-by-default off" hasn't been issued to GDB.

[2015-07-12 15:50] jcady92 commented on #35
I'll have to do some further investigating, but it definitely looks like it's not a problem with gcc4mbed itself.  Thanks for the response.

[2015-07-12 17:54] adamgreen commented on #35
If you ever happen to travel over to the [mbed IRC channel](https://developer.mbed.org/irc/) you can often find me there as **adamgr** in the evenings (Pacific Standard Time).  We might be able to work out the cause of the issue in realtime there.

[2015-07-26 14:03] garyservin opened #37 "Add external sources directory"
Hi, I'm trying to add an external directory which contains some source files for a project, my project's folder structure is the following

* /project
   * /my_lib
       * my_lib.cpp
        * my_lib.h
    * makefile
    * main.cpp

The makefile has the following

[code]

If my_lib folder is inside each project folder I can compile it fine, but it weights about 5M so it's not practical to have it

[2015-07-26 21:24] adamgreen commented on #37
There is currently no support for this in gcc4mbed.  You currently have to do this the way that you originally describe.

I will keep this issue open to consider for the next gcc4mbed release.  It should be possible to do this in a fashion similar to how the mbed SDK libraries are built.

Thanks,

Adam

[2015-08-01 06:25] ashier opened #38 "Adding NUCLEO_L053R8 device problem"
Currently running using the build code below. It builds without any problem but when copied into the device it does not work. Any ideas why?
[code]

and I'm building a basic blink code

[code]

Result:
LED does not blink

TIA
~ ashier

[2015-08-09 09:06] adamgreen commented on #34
I was able to reproduce this problem when I upgraded to the latest mbed sources and I now have a fix in the working branch with commit 61ae5063846cc8412890e051f0a7dd59967ce8ff.  This should be merged into the master branch soon.  Thanks for reporting.

[2015-08-27 15:10] daniel-bub opened #39 "Linker Warning: cannot find entry symbol Reset_Handler"
Hi,

I'm using gcc4mbed with my u-blox C027 device.

When I compile in "Release" mode everything works fine, but I have issues compiling in "Debugging" mode.
When linking I get the following error:
```c:/gcc4mbed/gcc-arm-none-eabi/bin/../lib/gcc/arm-none-eabi/4.9.3/../../../../arm-none-eabi/bin/ld.exe: warning: cannot find entry symbol Reset_Handler; defaulting to 00000000```

I compile using a cu

[2015-08-27 21:09] adamgreen commented on #39
Try changing MBED_TARGET to something like:
[code]

This stops it from colliding with the mbed1768 build.  In a release build, I got tons of warnings before I did that.

[2015-08-28 06:39] daniel-bub commented on #39
Unfortunately this doesn't solve the issue. Instead it causes the same linker warning for "Release"  and "Debug" builds now.

I think the symbol "Reset_Handler" is defined in the file ```gcc4mbed\external\mbed\libraries\mbed\targets\cmsis\TARGET_NXP\TARGET_LPC176X\TOOLCHAIN_GCC_ARM\startup_LPC17xx.s```, but I can't find this file to be used/referenced anywhere during the build.

[2015-08-28 07:11] adamgreen commented on #39
I can't reproduce the problem on my machine.  It builds fine for Release and Debug builds with no warnings or errors when building the HelloWorld sample.

You might want to try running a "make clean-all" before attempting a Debug build to see if that helps.

My build output:
[code]

[2015-08-28 07:13] daniel-bub commented on #39
Did you use the device file posted above?

[2015-08-28 07:24] adamgreen commented on #39
Yes

[2015-08-28 07:36] daniel-bub commented on #39
Which branch are you working on? Master or working?
I ran the same sample build and again the ```startup_LPC17xx.S``` was not mentioned.
I'll do a clean checkout and try it again.

[2015-08-28 08:12] adamgreen commented on #39
I tried on both master and working but I would recommend that you only use master since the working branch hasn't had a test pass conducted yet.

Yeah I think you are probably right about the assembly language build rules.  I will fix that in the working branch in the near future.

[2015-08-28 08:18] adamgreen commented on #39
What OS are you using?  Can you provide the complete output from your failed build attempt?

[2015-08-28 09:09] daniel-bub commented on #39
Here is my setup:
* Windows 7 64-bit
* u-blox C027 - CMSIS-DAP Interface Firmware (23 Apr 2014)
* gcc4mbed on branch master and up to date

And this is the build log:
[code]

I did a fresh checkout beforehand and just added the device makefile with your suggested change to use ```MBED_TARGET := NXP_UBLOX_C027``` instead.

Here are some excerpts from the verbose build log:
[code]

Do you need the f

[2015-08-28 09:56] daniel-bub commented on #39
I think I found the cause after adding a lot of ```$(info)``` statements into the Makefiles.

https://github.com/adamgreen/gcc4mbed/blob/master/build/gcc4mbed.mk#L233

Why is the "s" extension only considered to be valid on non Windows systems?
The file ```startup_LPC17xx.s``` has a small "s" on my Windows system after I did a clean checkout of the git repository. Due to the if branch, the file wa

[2015-08-28 16:22] adamgreen commented on #39
Under Windows the file system is case insensitive.  You originally mentioned that the build was successful for Release builds.  If the Release build assembles the file with .s as an extension, it should also assemble it for Debug builds.  Is it assembling the .s file successfully in Release builds but not Debug builds?

Are you using the version of GNU make in external\win32?  Maybe you have a wei

[2015-08-31 06:18] daniel-bub commented on #39
I think you are right. The release builds worked because in the beginning when I started to use gcc4mbed I was indeed using the ```make.exe``` in the ```external\win32``` folder.
Later I installed the GNU ARM Eclipse Build Tools, which provides another version of make. And this version seems to be case sensitive. (It's bundled with busybox)
Since I already had built a Release version of the Assemb

[2015-08-31 07:02] adamgreen commented on #39
Cool, that explains it.

I will add a note to the README to stress using the included version of make.exe on Windows since the gcc4mbed makefiles expect to use this version of GNU make on Windows along with cmd.exe as the shell.

[2015-08-31 07:52] adamgreen commented on #39
I am re-opening so that I don't forget to update the README and will close once I have completed those changes.

[2015-09-01 07:33] areitsma opened #40 "Problem with adding NRF51_DK device to GGC4MBED"
Hello,
I'm trying to build a NRF51_DK program on eclipse. I have followed this guide: https://github.com/adamgreen/gcc4mbed/blob/master/notes/new_devices.creole#adding-new-devices-to-gcc4mbed and used NRF51822 as base device, but i had no succes.
If i try to build HelloWorld sample for NRF51_DK I get this error:
[code]
I'm pretty sure it has something to do with my target devices, but I feel like

[2015-09-01 08:14] adamgreen commented on #40
I changed the TARGETS_FOR_DEVICE a bit and it worked on my machine:
[code]

I hope that helps.

[2015-09-01 08:30] areitsma commented on #40
Thanks for the reply
But after I've tried this it still says that its missing the device.h

[2015-09-01 08:35] adamgreen commented on #40
Did you copy and paste from my updates or did you just try to edit your pre-existing version to more closely match my updated version?  The reason that I ask is that I fixed a typo or two in your original that you might miss if you don't just copy and paste my fixed version.

[2015-09-01 08:41] areitsma commented on #40
I did copy those two lines and paste it, so i did not edit it.
This is what my NRF5_dk-device.mk now looks like.
[code]

[2015-09-01 08:52] adamgreen commented on #40
Ok.  I don't know what is causing the problems on your machine then.  The key thing I had to update was changing your TARGET_MCU_NRF51882 to the correct TARGET_MCU_NRF51822 and then it found device.h  The other changes I made to just get it closer to what I saw from your Python build run.

[2015-09-01 08:58] areitsma commented on #40
Could you sent me you're complete NRF51_DK-device.mk, maybe there are some other things that i missed.

[2015-09-01 09:05] adamgreen commented on #40
[code]

**Note:** I didn't have your updated .ld file so I just pointed it back to the one I already had so that I could reproduce your compiler error.  Also you might have to re-indent the make rules towards the end of the file to get them to be tabs instead of spaces since github appears to convert the tabs to spaces.

[2015-09-01 09:08] areitsma commented on #40
Okay nvm i found the bug, it was a really stupid one. Ty for the help.

One more question, can i configure it that after i build it it automatically get send to the NRF51_DK device?

[2015-09-01 09:24] adamgreen commented on #40
It depends on how you manually deploy it.  I have to use GDB for my Nordic board but if you are able to deploy successfully by copying the resulting .hex file to the USB mass storage file then you could look at [this documentation](https://github.com/adamgreen/gcc4mbed/blob/master/notes/install.creole#deploy) to see how the makefile can automatically issue the copy if you specify the **NRF51_DK-de

[2015-09-01 10:18] #40 closed

[2015-09-01 10:24] areitsma opened #41 "Elimitating index errors doesn't work"
When i tried the step of Eliminate Indexer Errors in this tutorial: https://developer.mbed.org/cookbook/eclipse-for-building-and-debugging
The indexer errors wont go away, when I do Index > Search for Unresolved Includes it says Unresolved inclusion: mbed.h

How can I fix this?

[2015-09-03 13:26] areitsma opened #42 "Debugging won't work 'unrecognized item "timeout" in "qSupported" response'"
Hi,

I have a NRF51_DK and try to debug with it in eclipse, building and all configurations works and I've updated the firmware of the chip (also tried JLINK firmware).
But I have a problem, when i try to debug a program with gcc4mbed in eclipse, i get this error:

[code]

I get error window with details:
[code]

Does someone know a solution?

[2015-09-03 13:27] #41 closed

[2015-09-03 20:09] adamgreen commented on #42
The fact that you have /dev/tty.usbmodem2622 in the error text indicates that you are probably using the mbed-LPC1768 Eclipse configuration steps which use the MRI debug monitor.  That won't work for your board.  You will have to learn how to use GDB with the debugger hardware on your board and then configure Eclipse to configure GDB the same way.

[2015-09-04 12:54] areitsma commented on #42
Oke I have found the right configurations for the NRF51_DK and how to debug with it in Eclipse. I now use the JLINK debugger. There just one more problem, when  debug it it i get the error:
[code]
When i run the command in terminal: gdb --version, It does say its installed
GNU gdb (GDB) 7.10 .....etc
Do you maybe know how to fix this?

[2015-09-06 04:31] impressiver commented on #28
@adamgreen I just ran into this same issue trying to add gcc_arm export to [mbed sdk](/mbedmicro/mbed) for the Xadow M0 board. Your `lpc_checksum` just saved me *hours* of poking at code to find the problem. Thank You!

There's partial support for the `XADOW_M0` target, but only the emblocks cmsis target was included (hence the greyed out export options in the online editor). I added the missing t

[2015-09-06 04:49] impressiver commented on #28
I just reread the thread and noticed the "it wouldn't be simple and I would probably only do it if it was a major inconvenience", so I'm going to take a guess that adding an extra lpc_checksum step the makefile would be the prudent path to pursue.

[2015-09-06 21:10] adamgreen commented on #37
I have added USER_LIBS support with commit bd4695b2fae2bf96dbf71edb2aeb66de233b0859 in the working branch.  I will close this issue once I have merged into master during the next release.

[2015-09-06 21:26] garyservin commented on #37
Wow! this is awesome! thanks! =D

[2015-09-06 21:44] adamgreen commented on #38
Maybe there are some items missing from the TARGETS_FOR_DEVICE macro?  What did you use as a reference when you picked the TARGETs that you used?

[2015-09-07 07:08] ashier commented on #38
thanks adam for the hint, I was able to fix it with the ff:

[code]

[2015-09-07 07:31] adamgreen commented on #38
Excellent!  You can issue a PR to add this new device once you are happy with your testing.

[2015-09-07 07:31] #38 closed

[2015-09-08 01:55] adamgreen commented on #42
Sorry, I don't if there is anyone that reads the issues on this project which can help with your particular setup.  You aren't really hitting a gcc4mbed issue.  Maybe an Eclipse, JLINK, or NRF51_DK specific site might be able to point you in the right direction?

[2015-09-17 20:18] #42 closed

[2015-10-12 09:09] adamgreen commented on #34
Fix now merged into master.

[2015-10-12 09:09] #34 closed

[2015-10-12 09:09] adamgreen commented on #37
Now merged into master.

[2015-10-12 09:09] #37 closed

[2015-10-12 09:11] adamgreen commented on #39
Merged the README update into the master branch.

[2015-10-12 09:11] #39 closed

[2015-11-12 14:16] guarndt opened #45 "Add support for Ublox C027"
Dear Adam and contributors,

I'm trying to add support for the Ublox C027 to gcc4mbed and, along the way, to integrate gcc4mbed snugly with Eclipse.
I have two problems:
1. Code successfully built for LPC1768 does not seem to run on the C027, although they have the same CPU and firmware.
2. I'm not sure if my new Makefile for the C027 is correct - I've read #39, but include paths seem to be an iss

[2015-11-12 14:21] guarndt commented on #45
Something went wrong formatting this - I'll close and re-open...

[2015-11-12 14:21] #45 closed

[2015-11-12 14:27] guarndt opened #46 "C027 and Eclipse integration"
Dear Adam and contributors,

I'm trying to add support for the Ublox C027 to gcc4mbed and, along the way, to integrate gcc4mbed snugly with Eclipse.
I have two problems:
1. Code successfully built for LPC1768 does not seem to run on the C027, although they have the same CPU and firmware.
2. I'm not sure if my new Makefile for the C027 is correct - I've read #39, but include paths seem to be an iss

[2015-11-12 20:05] adamgreen commented on #46
I noticed that in your build output the following text `make all deploy GCC4MBED_TYPE=Debug`  I believe that the Eclipse instructions should discuss how to build a Release version as well.  You might want to try that.  The Debug version links in debug monitor support which by default will wait for GDB to connect before it actually lets your program run.  That could explain why you aren't getting a

[2015-11-13 09:41] guarndt commented on #46
Adam, thank you for the hint - without MRI, the program runs.

Two (comparably tiny) problems remain:
1. Automatic deployment doesn't work: `make: *** No rule to make target `LPC1768-deploy', needed by `deploy'.  Stop.` I have to copy the bin file manually.
2. Eclipse's indexer looses orientation in C027's `PinNames.h`. Maybe I've done something wrong in 'Paths and Symbols'...

[2015-11-14 03:44] adamgreen commented on #46
More notes about how to deploy from the gcc4mbed makefile can be found [here](https://github.com/adamgreen/gcc4mbed/blob/master/notes/install.creole#deploy)

I don't use Eclipse enough to be able to help you with your second issue.

[2015-11-18 13:10] guarndt commented on #46
Ok, I'll try to find something. Thank you.

[2015-11-18 13:10] #46 closed

[2015-12-08 13:45] JaredCJR opened #49 "The gcc4mbed usart driver of STM32F429 does not work in CrashCatcher"
I would like to add the support of STM32F429 to the [CrashingApp example in CrashCatcher](https://github.com/adamgreen/CrashCatcher/blob/master/samples/CrashingApp/main.cpp),but the default Serial setting does not work.
It seems that the bug is in the gcc4mbed usart driver of STM32F429.
If I use mri to connect to the device,by typing "backtrace",it will remind me that the stack may corrupted.

NOT

[2015-12-08 14:06] adamgreen commented on #49
This sounds like it would be an mbed SDK issue and not a GCC4MBED specific problem.  Does the gcc4mbed StdIO sample work on that STM board?  If it does then try commenting out these 2 lines in the CrashingApp sample:
https://github.com/adamgreen/CrashCatcher/blob/master/samples/CrashingApp/main.cpp#L19 and
https://github.com/adamgreen/CrashCatcher/blob/master/samples/CrashingApp/main.cpp#L43.
This

[2015-12-08 16:20] JaredCJR commented on #49
The StdIO sample in gcc4mbed works for me.I could get the output in GDB when I use mri to connect to my device.

I can get the "printf output" also in the CrashingAPP of CrashCatcher by means of mri,the "printf output" will print to the GDB host.

I could get the CrashCatcher dump when I use my own implementation of usart.

I expect that I could enter the select menu by mri,and get CrashCatcher du

[2015-12-08 21:23] adamgreen commented on #49
When using CrashCatcher, you would not want to have MRI linked into your program as well.  Does the StdIO sample work without MRI when you just connect a terminal program to the serial port?  What happens if you build your version of CrashingApp without MRI and connect to it with a terminal program?

[2015-12-09 03:23] JaredCJR commented on #49
The below description is tested with "Release version",without mri connection.

StdIO sample works for me without mri ,including input and output!
CrashingApp can output the selecting menu on 115200 or 9600(comment out the two lines) baud rate,but it seems that it is not able to get the user input.
It doesn't do anything after I input number.The program will stop due to the "fgets."

If I directly

[2015-12-09 03:38] adamgreen commented on #49
Maybe your terminal program is not sending a linefeed character when you press the enter key.  You could try pressing CTRL+J to see what happens.

[2015-12-09 03:45] JaredCJR commented on #49
After input the option,CTRL+J let it works!
"screen" and "neocon" are in the same condition!

Thanks for your advices.

[2015-12-09 03:49] adamgreen commented on #49
Excellent!

[2015-12-09 03:49] #49 closed

[2016-01-29 15:19] ajdolio opened #50 "Compiled BIN fails on Freescale FRDM-K64F"
I was working with the "HelloWorld" sample which is identical code to the "mbed_blinky" example on the online compiler, however the only difference is that when I compile the "mbed_blinky" online, the code deploys properly with no issues and when I compile the "HelloWorld" and try to deploy it, the code fails and in the fail.txt I get a "RESERVED BITS" error.

[2016-01-29 20:56] adamgreen commented on #50
What happens if you export your mbed_blinky project from the online compiler to build with the GCC (ARM Embedded) toolchain?  Does it work in that scenario?

How did you use gcc4mbed to target the K64F?  Currently it doesn't support that platform.  Have you added that support?  If so, can you share the contents of your -device.mk file here?

[2016-01-29 20:58] ajdolio commented on #50
Adam,

Thanks for your reply. I managed to find another article (albeit in German)
explaining how to get the K64F to function with gcc4mbed and it solved my
issue.

Thanks,
Andrew
On Jan 29, 2016 15:56, "Adam Green" <notifications@github.com> wrote:

[2016-01-29 21:03] #50 closed

[2016-02-13 09:44] daniel-bub commented on #37
Hi Adam,

I do have an issue with the USER_LIBS parameter in case a lib contains subfolders with relevant source files.
I just exported the HTTPClient lib from the old mbed website, which uses source-subfolders.
Is there a quick fix  for this?

Thanks,

Daniel

[2016-03-11 20:37] cyndiac opened #52 "Fails to make HelloWorld sample"
I was trying to deploy some sample code using the following commands in linux (this portion also failed while running the linux_install script):
`cd gcc4mbed/samples/HelloWorld`
`make clean all deploy`

But I keep getting this error:
`../../gcc-arm-none-eabi/bin/arm-none-eabi-g++: 1: ../../gcc-arm-none-eabi/bin/arm-none-eabi-g++: Syntax error: word unexpected (expecting")")`

The mbed is mounted a

[2016-03-11 23:46] adamgreen commented on #52
It seems like it is having some kind of problem running arm-none-eabi-g++ on your Linux distro.  I guess you could try 2 things that might help narrow down the problem:
* what happens if you try just running g++ from your command line:
[code]
* Try running make with the verbose command option and attach the full output here:
[code]

If you are running a 64-bit version of Linux then you will need t

[2016-03-12 00:26] cyndiac commented on #52
Thanks! It makes now. The specific command that I used was
`sudo apt-get install -y lib32z1 lib32ncurses5 lib32bz2-1.0`
from http://ssb.stsci.edu/ureka/dev/docs/32bit_iraf.html

Apt-get couldn't find the last package you listed, but it seems works fine without it!

[2016-03-12 00:26] #52 closed

[2016-03-12 00:42] adamgreen commented on #52
Happy to hear that helped. I have always seen it give a file not found error before when the 32-bit libs were missing and not that syntax error. Almost looks like the shell tried to run it as a script or something.

Yeah, that last package looked weird to me as well but it was what I saw listed on one website. I will update the README to include the command that worked for you.

Thanks for the fol

[2016-03-12 00:58] adamgreen commented on #52
I have updated the "Important Notes" in the working branch to include the apt-get command line which worked for you. Will be pushed to master after the next full test pass.

Thanks again!

[2016-04-22 11:09] wmmihaa opened #53 "gcc4mbed compiler issue"
This question is not about fixing my code, but rather explain why it works to compile (and runs) using mbed online but not locally, and if there are any parameters I can use to make it compile the same way it's done using mbed online.

Using gcc4mbed it fails with:
[code]
The code segment looks like this:
[code]
Thanks

[2016-04-22 12:43] adamgreen commented on #53
I haven't really seen those specific errors before so it is kind of hard for me to suggest a fix without having access to all of your code to try compiling/debugging locally.  It should be noted that GCC and the online compiler are different compilers using different standard C libraries so there can be some differences but usually simple changes can be made to code making it portable between the

[2016-04-22 12:52] wmmihaa commented on #53
Thank you @adamgreen would you mind testing with the exported project from mbed (I know I'm pushing it ;) )?
[MbedJSONValue_zip_k64f (1).zip](https://github.com/adamgreen/gcc4mbed/files/231786/MbedJSONValue_zip_k64f.1.zip)

[2016-04-22 23:26] adamgreen commented on #53
Thanks.  I reproduced with your example. As I suspected, newlib Standard C Library defines **getc()** as a macro in stdio.h to improve performance.

One solution is to ```undef getc``` in your header after the ```#include <stdio.h>``` but before declaring your class.

While I had suspected that it was related to such a macro before it didn't repro with my initial attempt that I previously pasted.

[2016-04-23 09:40] wmmihaa commented on #53
Fantastic! It worked. Thank you so much!

BTW, I'm having some issues with the EthernetInterface, but just found the same lib in the gcc4mbed repo. Should I just use that one instead?

[2016-04-23 20:52] adamgreen commented on #53
Good to hear that your issue is now resolved!

There is a TCPSocket_HelloWorld in the gcc4mbed/samples folder that you can look at for ethernet based networking. [Its makefile](https://github.com/adamgreen/gcc4mbed/blob/master/samples/TCPSocket_HelloWorld/makefile) shows how to pull in the ethernet library from the mbed SDK using the MBED_LIBS variable.

[2016-04-23 20:52] #53 closed

[2016-04-24 10:51] wmmihaa commented on #53
That did the trick. Thanks you so much for making this public. Works like a charm!

[2016-04-24 22:53] adamgreen commented on #53
Excellent!

I should point out that you can also use the [export feature in the mbed online compiler](https://developer.mbed.org/handbook/Exporting-to-Make) to create a makefile that should work with GCC_ARM as well. I made [this forum post](https://developer.mbed.org/forum/mbed/topic/2701/?page=5#comment-25951) a few years ago explaining why GCC4MBED still exists even though that export feature i

[2016-04-28 16:59] voicevon opened #54 "Install Eclipse for ARM"
I am using window 10.  I followed instruction  till below:
*Set Name: to Eclipse for ARM.
*Set Location: to http://sourceforge.net/projects/gnuarmeclipse/files/Eclipse/updates/
*Click the Ok button.
* There should now be a **_CDT GNU Cross Development Tools_** item listed on the Install dialog. It may take several seconds to populate this item into the list. Once it appears, check it.

My response

[2016-04-28 17:29] adamgreen commented on #54
@voicevon, I don't personally use Eclipse so I am not familiar with the latest steps that it takes to get it working.  Kevin Gordon documented his steps [here](http://www.rescuerobot.org/drupal/?q=content/best-free-offline-ide-mbedorg-projects) (you are probably interested most in the **Installing Eclipse** part about 1/3 of the way down on that page.)

If you do get it working, it would be awesom

[2016-05-01 09:57] voicevon commented on #54
Hi adamgreen,I did it many times on new installed windows7 and Ubuntu, It showed**_ GNU ARM C/C++ Cross Development Tools_** all the way. Since I am newer to Github,I am not sure how to update your document. May I ask you to do it directly?

[2016-05-01 10:09] voicevon opened #55 "Deploy config in Eclipse"
The original description is
The string you use for Value: will depend on what commands are required to copy binaries to the mbed device in your environment. Here are some examples that I use on various operating systems that I test with (please note that the GCC4MBED build system will automatically replace the PROJECT string with the name of your project, FileTest in this case):
OS X: cp PROJECT.b

[2016-05-01 20:24] adamgreen commented on #55
The current GCC4MBED_DEPLOY settings listed in the documentation are correct and work with the command line version of gcc4mbed. You shouldn't need to hardcode the names like you have shown above. You are hitting some other issue.

Since no one who uses Eclipse appears to want to keep these documents up to date, I will probably just remove them since I am not in a position to keep them current.

[2016-05-04 07:39] #55 closed

[2016-05-04 07:40] adamgreen commented on #54
What exactly are you asking me to change?

[2016-05-04 15:19] voicevon commented on #54
In your document
*Set Name: to Eclipse for ARM.
*Set Location: to http://sourceforge.net/projects/gnuarmeclipse/files/Eclipse/updates/
*Click the Ok button.

There should now be a **_CDT GNU Cross Development Tools_** item listed on the Install dialog. It may take several seconds to populate this item into the list. Once it appears, check it.

The real name showed is **_GNU ARM C/C++ Cross Develop

[2016-05-04 19:10] adamgreen commented on #54
Updated in working and master branches.

[2016-05-04 19:10] #54 closed

[2016-06-04 07:11] kasandell opened #56 "Possible Issues with Compiling for Bambino 210e"
I'd like to preface this by saying Arthur Wolf sent me here to open this issue. I've been trying to get the Smoothie2 source to run on the bambino 210e for about the past 2-3 weeks with no luck. The first sign of an issue is when making gcc4mbed, the compilation of the sample programs fail with the error
`No rule to make target "../../external/mbed/libraries/mbed/targets/hal/TARGET_NORDIC/TARGET_M

[2016-06-04 07:51] adamgreen commented on #56
First of all this bug should be moved to the Smoothie2 tree. It is specific to the code/makefiles there.

You can probably ignore the missing softdevice.hex error.

I think you are hitting two issues:
* Smoothie2 makefile is setup to build for the actual Smoothie2 board.
* My lpcscrypt instructions are for the Smoothie2 board as well.

Once the issue is tracked over in the correct project, we can

[2016-06-04 07:51] #56 closed

[2016-08-29 16:29] Testato opened #57 "Update to Mbed-OS"
will this project updated to mbed-os ?
https://github.com/ARMmbed/mbed-os

[2016-08-29 19:25] adamgreen commented on #57
I have plans to try and switch to it in the future but it might not be until the new year. I will keep this issue open until that time. Thanks, Adam.

[2016-10-10 00:30] DouglasPearless opened #58 "Getting the USB and SD Card code functioning on a LPC4300"
Hi Adam,

I am researching how to get the balance of gcc4mbed to fully compile for the LPC4300, mainly the SD Card and USB code on my Bambino210E.

Then I want to get them working for Smoothie2 and I notice that some of the (other) samples compile for the LPC4330_M4, but not the USB code.

Before I start to better understand what I need to do (makefiles, etc), I assume that the LPC4330_M4 support

[2016-10-11 10:12] DouglasPearless commented on #58
I have spent time analysing why the USB code does not compile and have come to the view that the hardware definitions and other key files have not been defined / ported for the LPC4300, is this correct?

[2016-10-11 10:13] arthurwolf commented on #58
I do believe that's the case yes. The guys who created the bambino are
supposed to provide a mbed port for their board, they did a partial one,
but did not do major things like usb and ethernet.

On Tue, Oct 11, 2016 at 12:12 PM, Douglas Pearless <notifications@github.com

--
Courage et bonne humeur.

[2016-10-11 19:58] DouglasPearless commented on #58
Ah hah!

I will contact Micromint and see what they say.

In the meantime, I have been looking at what is required to get that going ourselves, and I so far have narrowed it down to several files, the USBHAK and USBDescriptors.

Using the LPC4088 as an example (I know it has different USB speed support), then I think I need to write equivalents for:

gcc4mbed/external/mbed/libraries/USBDevice/USBD

[2016-10-11 20:13] arthurwolf commented on #58
On Tue, Oct 11, 2016 at 9:58 PM, Douglas Pearless <notifications@github.com>
wrote:

I'm already in contact with them about this since recently, please let me
talk to them for now :) I'll report what comes of it.

I think Adam might have some when he comes around here.

--
Courage et bonne humeur.

[2016-10-11 20:13] arthurwolf commented on #58
@triffid maybe you have some thoughts ?

[2016-10-11 20:42] DouglasPearless commented on #58
OK,

I had just raised the incomplete libraries with them prior to your email and I am more than happy to wait for your discussions to complete so I won’t follow up with them.

Cheers
Douglas

[2016-10-12 02:15] triffid commented on #58
Shouldn't be too hard to whip up HAL definitions from the chip datasheet if the rest of the stack is already there

[2016-10-12 02:32] DouglasPearless commented on #58
I have been reading the sections in the LPC4300 1400++ page manual to better familiar myself with this particular chip, it is heavy going!

Cheers

Douglas

Quoting Michael Moon <notifications@github.com>:

Links:
------
[1] https://github.com/adamgreen/gcc4mbed/issues/58#issuecomment-253100254
[2] https://github.com/notifications/unsubscribe-auth/ADkh-5TgaqXyxIAmHBot90iLsGgmMGlhks5qzEKtgaJpZM4KSK

[2017-01-23 10:05] awais-ublox opened #59 "building pre-compiled library using gcc4mbed"
Hello,

I am trying to build ublox wifi odin pre-compiled library from:

mbed-os-master\targets\TARGET_STM\TARGET_STM32F4\TARGET_UBLOX_EVK_ODIN_W2\sdk\TOOLCHAIN_GCC_ARM\libublox-odin-w2-driver.a

through gcc4mbed. I have used LIBS_SUFFIX macro to include it my project.

There are a lot of linker errors since that library references /features/hal , features/netsocket which cannot be directly build

[2017-01-23 17:43] adamgreen commented on #59
The current version of gcc4mbed only supports the 119 version of the mbed SDK. This is before the switch to mbed OS 5.0.  If you want to build your code from a makefile, using the export feature of the online compiler would probably be a better option.

[2017-01-23 17:46] adamgreen commented on #58
This is not a gcc4mbed specific issue. Maybe it should be tracked in the Smoothie2 repository instead?

[2017-01-23 17:46] #58 closed

[2017-01-24 04:51] awais-ublox commented on #59
Ok thanks Adam.

[2017-01-24 04:54] awais-ublox commented on #59
Is there any plan to upgrade gcc4mbed for mbedOS5?

[2017-01-24 07:36] adamgreen commented on #59
I don't have an ETA yet but I do have issue #57 open to track the fact that I need to do it.

[2017-01-24 07:36] #59 closed

[2017-02-27 21:48] LordGuilly commented on #30
I am currently doing a project using a similar cheap/generic STM32F103C8T6 board (2.5£ on eBay!)
I was planning to use this as a start, but curious what would be the board naming convention, since it's not a NUCLEO platform (GENERIC_F103C8 maybe???)

[2017-02-28 03:39] adamgreen commented on #30
What kind of changes do you need to make for this generic board? Are they really changes that should go into GCC4MBED or are you really wanting to add a new device to the mbed SDK/HAL proper in https://github.com/ARMmbed/mbed-os ?

[2017-02-28 10:01] LordGuilly commented on #30
that's an interesting question. The board does not have the debug interface, so it won't fully support the mbed flow by itself - But using an external link interface, I managed to build and download the HelloWorld sample.
Changes will be required in the linker script (because it's 64Kb flash) and the HAL, as the LED1 is in a different pin. I would think other peripherals may need remapping as well

[2017-02-28 10:58] LordGuilly commented on #30
it seems both the mbed SDK and OS support the BLUEPILL_F103C8 target, which is for this board, so once the mbed library moves forward, only the .mk file will be needed.

[2017-03-03 13:18] mdarweash opened #61 "how to update mbed libary"
how to update gcc4mbed to the latest mbed Library ?

can we do this by downloading the mbed library for mbed.org and injecting it ? or there are modifications that are required to be carried out ?

[2017-03-03 21:47] adamgreen commented on #61
In the past that was possible but the move to mbed OS 5.0 changed things so much that it is no longer possible to do it that way. I will need to rewrite the makefiles to support the latest versions of mbed. I don't currently have an ETA for that work. I am tracking this work item in issue #57.

[2017-03-05 11:50] mdarweash commented on #61
so my straightforward question is. i've written my NRF51_32K_S130.ld & NRF51822-s130-device.mk to enable s130 device compiling for NRF51 Dongle .... as i need to use it as peripheral and scanner in the same time ....

is this supported by the current setup on gcc4mbed ? as it compiles well with the s130 but still no scanning is working ..every other functions are working properly

[nrf-s130.zip](h

[2017-03-06 09:53] adamgreen commented on #61
Unfortunately I don't have any experience with using the peripheral & central capable S130 soft device so I don't know if it it can be made to work with the version of the mbed SDK that is in use by gcc4mbed.

My recommendation would be to find a sample on the mbed site that exploits the dual capabilities of the S130 soft device, build/test it with the online compiler, and then export the project

[2017-03-06 12:36] mdarweash commented on #61
thanks @adamgreen  for your fast reply... i'll test the whole thing and if it works let see how to publish this for the community

[2017-03-09 23:37] #61 closed

[2017-05-18 19:02] adamgreen commented on #57
I recently pushed up changes to the master branch which adds support for mbed-os-5.4.5/release 142.

[2017-05-18 19:02] #57 closed

[2017-05-18 23:58] adamgreen opened #63 "Open Discussion"
Please feel free to use this GitHub issue for general discussion about the GCC4MBED project. If you just want to ask me or the community a general question, then this issue is the place to do it.

GitHub gives you the option of subscribing to get notifications when people post new content to this issue. You should find this subscribe option in the pane on the right-hand side of the issue.

[2017-05-19 00:09] adamgreen commented on #63
A new version of GCC4MBED is available on GitHub at https://github.com/adamgreen/gcc4mbed#quick-start

New features include:
* Upgraded GNU tools to **GCC ARM Embedded 6-2017-q1-update**.
* Upgraded **mbed SDK** from revision 119 to **revision 142**.
* With the upgrade to mbed SDK revision 142, the multithreaded mbed-os version 5 is now the default version of mbed used:
   * If you want the smalle

[2017-05-21 06:08] adamgreen commented on #61
PS: I recently pushed up changes to the master branch which adds support for mbed-os-5.4.5/release 142.

[2017-05-21 06:09] adamgreen commented on #59
PS: I recently pushed up changes to the master branch which adds support for mbed-os-5.4.5/release 142.

[2017-05-22 04:19] Awais174 commented on #59
Thanks Adam!

[2017-05-26 19:29] BlackstoneEngineering commented on #63
FYI GCC is now supported natively in the mbed project via [mbed-CLI](https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/options/#compiler-versions). This includes internal extensive testing in both nightlies and for each release.

[2017-05-27 01:10] adamgreen commented on #63
Thanks for the link!  If mbed-cli works for people, then I definitely recommend that they use it.  GCC4MBED was created back in 2011 before there was any official offline support from the mbed team. Why have I continued to maintain it after the mbed team has added this support?  Mostly because I still find it useful for my own projects:
* I don't want to take Python as a dependency for building my

[2017-07-24 09:05] naoki-mizuno opened #64 "Undefined reference when compiling rosserial"
I've been trying to use [rosserial with gcc4mbed](http://wiki.ros.org/rosserial_mbed/Tutorials/rosserial_mbed%20Setup#Using_the_offline_compiler) but have been getting the following `undefined reference` errors when compiling.

[code]

`normalizeSecNSec` is defined in `ros/time.h` and implemented in `time.cpp`, found in https://developer.mbed.org/users/garyservin/code/ros_lib_kinetic/.

The proble

[2017-07-24 10:45] adamgreen commented on #64
I can't even get the code to compile w/ the above repro steps:

These are just some of the many compile errors I get:
[code]

How do you work around those to get as far as the linker error?

When you look at your build output, do you see time.cpp getting built?

[2017-07-24 22:43] adamgreen commented on #64
I moved from macOS to Ubuntu and got the code to compile and now I have reproduced you linker error. I will debug it later tonight and let you know what I find.

[2017-07-24 23:35] naoki-mizuno commented on #64
@adamgreen Thanks for looking into this! Please let me know if there's anything I can do to help!

[2017-07-25 00:48] adamgreen commented on #64
Rename ros_lib_kinetic/ros/time.h to ros_time.h and fix the couple of #includes that then fail.

Deep down in the newlib Standard C Library, there is a stat.h which #includes time.h and it picked up the ROS one instead of the Standard C Library version. The really freaky thing is that this caused the normalizeSecNSec() function to be declared as a C function in the global namespace instead of a C+

[2017-07-25 01:04] naoki-mizuno commented on #64
Fix confirmed!! Thanks a bunch for tackling this problem! I'll open up an issue in the rosserial repo to see what the guys think about renaming `time.h`.

[2017-07-25 01:11] adamgreen commented on #64
It is a side effect of how the mbed build system places every folder for the library in the include path. If only the root of that ros_lib_kinetic project was in the include path and you always ```#include "ros/time.h"``` to get that header then it would work but I can't do that with the include path in gcc4mbed as it would break other mbed based projects.

My macOS compilation issue is similar si

[2017-07-25 01:24] naoki-mizuno commented on #64
Hmm... I see. Does that mean this is a problem that appears only on mbed and not on other platforms such as Arduino?

[2017-07-25 01:27] adamgreen commented on #64
I suspect so. This is probably a mbed/newlib/gcc only issue.

I don't think it is gcc4mbed specific though. I would have expected it to happen if you exported to GCC_ARM from the online compiler as well.

[2017-07-25 04:36] adamgreen commented on #64
@naoki-mizuno
I am re-opening this issue since I think there is a way that I can default it to the current include behavior but allow for a tweak in the settings which will allow the ROS code to build unmodified. I should have something for you to try in a day or so.

[2017-07-25 06:58] adamgreen commented on #64
Updated steps which should allow you to use the ROS code as is without renaming it. These steps also allow it to build without error on my MacBook.
1. Pull down the latest gcc4mbed master branch to get the change that I just made:
  `git clone git@github.com:adamgreen/gcc4mbed.git`
1. `hg clone https://developer.mbed.org/users/garyservin/code/ros_lib_kinetic/`
1. `hg clone https://developer.mbed.o

[2017-07-25 07:55] naoki-mizuno commented on #64
Wow, you have no idea how happy I am right now! :laughing: I've confirmed that the new `!` prefix works on Ubuntu and also a macOS El Capitan that I had access to. Thank you for the fix, and also for the awesome project!

[2017-07-25 07:55] #64 closed

[2017-07-25 18:24] adamgreen commented on #64
Excellent!

I figured I should try to keep `USER_LIBS` working with **ROS** code as well as possible since that is where the request [originated](https://github.com/adamgreen/gcc4mbed/issues/37).

[2017-08-03 14:19] satish040 commented on #63
Hi Adam,

I am working on NCS36510 cortex m3 based platform and trying to port ,mbed 5.4.5 and i am stuck. The code fails at the point,

SVC_0_1(svcKernelStart,      osStatus, RET_osStatus)

The disassembly of the above is as follows,
461      SVC_0_1(svcKernelStart,      osStatus, RET_osStatus)
00104102:   ldr.w   r12, [pc, #24]  ; 0x10411c
00104106:   svc     0
00104108:   mov     r3, r0
605

[2017-08-03 16:42] adamgreen commented on #63
@satish040 First I would recommend you use the master branch as it is the tested one. The working branch contains my work in progress and hasn't gone through a full test pass yet. That said, I doubt your problem is related to that.

Can you enter a new issue here to track this problem? In that issue, please try to give me as much information about what you have done to get to this point? You menti

[2017-09-29 20:42] StarCod3 commented on #63
Hi Adam,
thanks for you guide.
I followed the guide and I've try to setup the autodeploy actions after build.
I've added the **LPC_DEPLOY/GCC4MBED_DEPLOY** environment variable, but when i try to compile the project the compiler return this error:

[code]
Can you help me?

[2017-09-30 00:39] adamgreen commented on #63
@StarCod3 One thing that might cause this is if your makefile is configured to build for devices that don't include **LPC1768** since ```make deploy``` is actually a shortcut for ```make LPC1768-deploy```. If you want it to build and deploy for a different device then change the **LPC1768-** prefix to match that device (Example:```make KL25Z-deploy```).

[2017-10-14 11:20] AchmadFathoni commented on #63
I tried to include mbed.h and the **DigitialOut** class is resolved but the rest like **Serial, pirntf, LED1, SERIAL_RX, SERIAL_TX** could not be resolved. And Program "echo" not found in path. My include directory is
`${ProjDirPath}/../../external/mbed-os/`
Anyway I succes to Build and upload.

[2017-10-14 15:18] adamgreen commented on #63
@AchmadFathoni The documentation for gcc4mbed usage with Eclipse is out of date and was written before mbed had support for exporting to Eclipse. I recommend you checkout [mbed's official Eclipse export features](https://docs.mbed.com/docs/mbed-os-handbook/en/latest/dev_tools/third_party/).

I hope that helps.

[2017-10-27 06:58] bqam-ublox commented on #63
@adamgreen  just wanted to tell you that you are doing a wonderful job (y). This project helped us getting hands on with mbed2. Looking forward to mbed5 now.

[2017-10-31 15:18] BramOoms commented on #63
@adamgreen I was wondring why newlib-nano is used by default in combination with mbed-os 5, because as far as I know newly-nano is not thread save, while mbed-os 5 is promoted as multithreaded, or am I wrong?

[2017-10-31 17:41] adamgreen commented on #63
@BramOoms I chose to stick with newlib-nano as the default to keep the binaries as small as possible and because [mbed-os isn't really all that thread safe with either version of newlib anyway](https://github.com/ARMmbed/mbed-os/pull/4796).

One of the few things that used to be thread safe in newlib but not newlib-nano were malloc/free accesses to the heap.  If memory serves correct, that should

[2017-11-01 13:16] BramOoms commented on #63
@adamgreen  That makes sense! Thanks for the quick reply. Let me explain my situation:
I'm using your project as a reference in my project with support for Atmel's SAM4E MCU (Cortex M4).

I started my project a while ago when the gcc4mbed project was using mbed classic. However,
I'm getting bus/hard faults every now and than which seems to be caused by memory corruption
(invalid program counter, l

[2017-11-01 21:54] adamgreen commented on #63
@BramOoms

Maybe. A few things could lead to such problems. I will say that when working with RTX, the thing which most often caused memory corruption for me was a thread overflowing its stack. This will end up corrupting the contents of another thread's stack or some global variables. This was even more common for me when I used full newlib since newlib-nano required less stack space for local va

[2017-11-07 02:28] adamgreen commented on #63
@BramOoms

It typically is ok if the idle thread is running. That just means that no other thread has anything else to do at the moment. Which thread is supposed to tickle the watchdog? Can you dump that thread's stack when the watchdog fires?

That can be expected behavior. If you have a buffer defined on the stack but you don't completely fill that buffer then it could lead to such a pattern of

[2017-11-07 09:36] BramOoms commented on #63
@adamgreen

My code is executed as much as possible from the main thread. I post a callback object in the main thread's queue when a timer expires or when code needs to be executed after an interrupt. The main thread tickles the watchdog every time it processes a message from its queue. I have a about a hand full of timers for ADC conversion and polling data on tcp sockets. The timers expire every

[2017-11-07 13:55] BramOoms commented on #63
@adamgreen

Discovered that the RAM dump made from the watchdog fault handler seems to contain 7 thread stacks (7 times the magic stack top pattern (0xA52E5AE2), while there suppose to be only 6:

- Timer thread
- Main Thread
- LWIP TCP/IP thread
- GMAC thread
- UART data input thread
- Idle thread

The os_active_TCB array contains only 6 threads when a watchdog fault occurs, so I don't understand

[2017-11-10 01:48] adamgreen commented on #63
@BramOoms

Did you have to add this support yourself? I don't see this target supported by mbed-os.

The main reason I was asking for the device type was so that I could look at its linker script to get the RAM regions so that I knew what to have dumped. What are the RAM regions for your device? I think it is 128K starting at 0x20000000. If that is the case, these GDB commands should create a cras

[2017-11-10 14:01] BramOoms commented on #63
@adamgreen

Yes, I've added support for the SAM4E target and you are correct about the RAM regions: 128K starting from 0x20000000. I have tried to create a dump using your GDB commands while my program loops in the watchdog fault handler ISR, but got an "Invalid cast." error while trying to dump the xpsr, floating point and fpscr registers. What could be wrong?

[2017-11-10 17:41] adamgreen commented on #63
@BramOoms
OpenOCD must call xpsr something else. Maybe cpsr or xPSR? You can issue a ```info all-registers``` in GDB to see a list of what OpenOCD calls all of the registers it reports to GDB. You can also check that output to see if it is giving you floating point registers.

[2017-12-01 05:46] DouglasPearless commented on #63
@adamgreen
I am working on a Smoothie project, and as Smoothie V1 uses your gcc4mbed I guess the issue is one I am hoping you can provide some guidance / help on.

I have found a situation where the SerialConsole UART is being interrupted while it is receiving by the USB end-point code, and while still in there, it is further interrupted to send on the UART.

The result is that in the below code s

[2017-12-01 22:54] adamgreen commented on #63
@DouglasPearless It has been a long time since I last touched the Smoothie v1 code base. I don't know what it would take to upgrade it to a newer version of the mbed SDK. I know that they made a few local changes to the SDK code that you would need to maintain during such an upgrade.

I have a few comments/questions:
* Is it not a bug that the Smoothie firmware is interacting with the same stream

[2017-12-01 23:43] DouglasPearless commented on #63
@adamgreen thanks for the quick response.

You are right it may well be a bug about interacting with a Stream from  multiple “threads”.

I have discussed the issue with the Smoothie team but not this specific scenario.

The issue I traced with the flush is that it is called in the getc routine and should have discarded the unread input BUT instead flushed the UART input buffer to the output of the

[2017-12-02 00:04] adamgreen commented on #63
I don't think that fflush() would ever discard characters in the input buffer. It is used here to make sure that all outstanding output data on the stream is sent to the user before waiting for input data so that the user knows to what they are responding.

[2017-12-02 01:26] DouglasPearless commented on #63
@adamgreen

My thoughts on the fflush are based on:

https://stackoverflow.com/questions/16780908/understanding-the-need-for-fflush-and-problems-associated-with-it

And what I am observed is:

While the MBED library was writing to the SPI interface to read the SD Card, a character arrived from the UART, the getc() routine was called BUT for some reason it was also written to the UART:

serial_putc

[2017-12-02 02:38] adamgreen commented on #63
As you say, the stream implementation on that version of the MBED SDK isn't thread safe. Whether that is causing your issue, I am not sure. If another 'thread' was writing data to the stream's buffer when a character comes in on the UART then yes, the stream's write buffer could get corrupted because of the fflush() that gets called in the UART's ISR context.

Probably best to move this issue over

[2017-12-02 02:48] DouglasPearless commented on #63
@adamgreen

Thanks for the pointers.

Cheers
Douglas

[2017-12-17 02:15] DouglasPearless opened #65 "free heap calculation error"
Hi Adam,

I have come across an unusual situation, which I believe relates to your gcc4mbed work, specifically I am getting weird crashes on Smoothie V1 when I try to “play” a g-code file and I have traced it down to no heap, but it looks very strange.

Repeatable situation:
(1) Boot Smoothie.
(2) Go ‘mem'

[code]

(2) Go ‘mem v'

[code]
This looks to me that there *may* be a bug in the calculatio

[2017-12-17 02:25] adamgreen commented on #65
I don't think that gcc4mbed contains heap walking code. Why do you think this is a gcc4mbed issue?

[2017-12-17 02:31] DouglasPearless commented on #65
Wow that was quick!
My understanding (I could be wrong!) is that the heap walking code in Smoothie V1 walks the heap which I (think) is managed by the underlying gcc4mbed malloc (etc) code that is supplied as part of gcc4mbed?

[2017-12-17 02:37] adamgreen commented on #65
It is supplied by the newlib Standard C Library (the nano version for Smoothie v1, I think). Can you point me to the heap walking code in Smoothie and I will take a quick look at it? It kind of smells like you have a heap corruption but I am not 100% certain how to interpret the output but a look at the code should help.

[2017-12-17 02:39] DouglasPearless commented on #65
[https://github.com/Smoothieware/Smoothieware/blob/edge/src/modules/utils/simpleshell/SimpleShell.cpp](https://github.com/Smoothieware/Smoothieware/blob/edge/src/modules/utils/simpleshell/SimpleShell.cpp) line 98 is the function

[2017-12-17 02:41] DouglasPearless commented on #65
This may help:

[code]

[2017-12-17 02:46] DouglasPearless commented on #65
Hmm, the "chunkNext	uint32_t	536888220" for the last chunk looks very suspicious to me.

[2017-12-17 02:50] adamgreen commented on #65
It looks like your heap is corrupted. A buffer overflow/underflow could cause this. Writing to an already freed pointer could as well. Attempting to access the heap from multiple threads could cause it too but I think Smoothie breaks into the debugger if you try to access the heap from an ISR.

If you look at the first two lines:
[code]
This tells you that the current heap should go from 0x1000091

[2017-12-17 02:55] DouglasPearless commented on #65
Ah ha; I think you analysis is that the header is spot on; I manually stepped through the code (Eclipse+gdb+Segger JLink Pro) and changed the ChunkSize on chunk 28 to 32 (a random number) and then restarted the debugger and it kept walking through the heap;   The question is how the heck do I figure out what went wrong; though it does appear to always be chunk 28.

[2017-12-17 02:57] adamgreen commented on #65
If you know how to use GDB then I would recommend putting a memory access watchpoint on that chunk 28 header at startup and watch who modifies it.

[2017-12-17 02:59] adamgreen commented on #65
For example from a GDB command line (if memory serves correct):
```watch *(int*)0x10000910```

[2017-12-17 03:00] DouglasPearless commented on #65
Cool, I will try that, need to figure out how to do that from Eclipse :-)

[2017-12-17 03:20] DouglasPearless commented on #65
Hmm, I get:

[code]
And from the watch:
[code]
and the watchpoint is never called for 0x10001348 :-(

[2017-12-17 03:23] DouglasPearless commented on #65
Correction, I restarted everything and:

[code]

[2017-12-17 03:26] DouglasPearless commented on #65
This call is Smoothie is trying to open "/sd/config.txt" being the config file on the SD card; no idea WHY there is a heap corruption because of this

[2017-12-17 03:47] adamgreen commented on #65
Yes, you will most likely want to just keep letting it run after each watch fires. The last watch that fires (and its corresponding stack) before you hit your crash is likely to be the most suspect.

[2017-12-17 03:48] adamgreen commented on #65
Once you know which stop is the most interesting, you can restart and ignore all of the watchpoint stops until you hit that interesting one and then start digging in to do some real debugging.

[2017-12-17 06:11] DouglasPearless commented on #65
I think I may have found the issue, I am creating a vector of tuples (menu_items) and I use menu_items.clear(); to delete them all, that is the last access immediately prior to the call to the memory allocation for the "Play" command where they HardFault is triggered:

[code]
and
[code]
line 249 is the
`_M_destroy(__a);`

and __a is at:
[code]

The method I use to create the menu_items:
[code]

bu

[2017-12-17 06:11] #65 closed

[2017-12-17 06:12] DouglasPearless commented on #65
I was my disposal of the vector of tuples that was the issue, entirely my fault.  Replaced with and array in the meantime; will come back to this when I have time.
@adamgreen thanks for your help.

[2017-12-17 06:18] adamgreen commented on #65
Good to hear that you figured it out.

[2017-12-17 06:55] DouglasPearless commented on #65
Sigh, the heap walk now spews out an endless lines:

[code]

At least I don't get a HardFault, but it is still not good.

[2017-12-17 07:46] adamgreen commented on #65
Looks like the size in the header for chunk 28 is now corrupted (set to 0). You will probably want to watch modifications to its header at 0x10001340 (the header is 8 bytes before the data itself).

[2017-12-17 09:19] DouglasPearless commented on #65
OK, that will probably be a tomorrow task :-)

[2017-12-21 07:12] DouglasPearless commented on #65
I have retraced the fault after rebooting and found it now occurs at 0x1000115C, so that less 8 bytes for the header is 0x100054, so I set a watchpoint as *(unsigned long long int *)0x10001154	to cover 8 bytes (64 bits) and the first write access is during the startup phase where the storage is initialised.

I modified the heap walk to stop when it found a 0 length size:

[code]

Then I find this

[2017-12-21 07:21] DouglasPearless commented on #65
Um , how does the HEAP_TAGS work?

[2017-12-21 07:41] adamgreen commented on #65
https://github.com/Smoothieware/Smoothieware/blob/edge/src/makefile#L12

[2017-12-21 08:48] adamgreen commented on #65
Are you sure that it is this write that actually corrupts the allocation that you are worried about? Has that allocation actually happened yet or are you seeing a write to an allocation that will be later freed and then part of it used for a future allocation that you are actually interested in?

Until you see the watchpoint fire for filling in the header as part of malloc(), you don't care about

[2017-12-21 10:10] DouglasPearless commented on #65
Hmm, good point.

I need to trap the free and malloc’s until the corruption.

Will do that tomorrow; time for sleep.

Sent from my iPhone

[2018-01-12 08:13] iamshengluchen opened #66 "mbedUpdate"
when I make the 'mbedUpdate',there occur an error;
"main.cpp:2377:73: error: ‘struct dirent’ has no member named ‘d_namWhat '"
What should I do to solve this problem?

[2018-01-12 20:44] adamgreen commented on #66
```d_namWhat``` isn't an identifier that I see on [line 2377](https://github.com/adamgreen/gcc4mbed/blob/master/mbedUpdater/main.cpp#L2373).  Was the error actually about ```d_name```? What environment (operating system, compiler, etc) are you performing this build on? I have only tested it on macOS with the Xcode command line tools. I would expect it to work on other Posix systems like Linux but

[2018-01-15 05:47] iamshengluchen commented on #66
sorry, it is ”d_namLen“, My OS is Ubuntu 16.04 and the version of gcc is 5.4.0.

[2018-01-15 09:50] adamgreen commented on #66
I see. You could try applying this diff and it might help with that particular problem.

[code]

[2018-01-15 14:08] iamshengluchen commented on #66
Thank you very much. The code work successfully.

[2018-01-15 18:59] adamgreen commented on #66
Cool. I will commit that change during my next push, no ETA on that though.

[2018-01-15 18:59] #66 closed

[2018-03-13 06:13] MomoTavas commented on #64
I actually tried the last fixed suggested, I ran into this one:

"
make
Preprocessing ../gcc4mbed/external/mbed-os/targets/TARGET_NXP/TARGET_LPC176X/device/TOOLCHAIN_GCC_ARM/LPC1768.ld
make: ../gcc4mbed/gcc-arm-none-eabi/bin/arm-none-eabi-gcc: Command not found
../gcc4mbed/build/device-common.mk:201: recipe for target 'LPC1768/rosserial-mbed.ld' failed
make: *** [LPC1768/rosserial-mbed.ld] Error 1

[2018-03-13 07:31] adamgreen commented on #64
@MomoTavas That error would indicate that make can't find and/or execute the version of arm-none-eabi-gcc that should have been installed when you ran the gcc4mbed installation script.

[2018-05-16 18:54] wuliuxiansheng opened #67 "make deploy issue"
I am trying this offline compiler on a NUCLEO_F303K8 board and I can compile the code to generate the binary file but when I run `make NUCLEO_F303K8-deploy`, I just receive `make: Nothing to be done for 'NUCLEO_F303K8-deploy'.`. How does `make deploy` work? Can I use the DEVICE variable in Makefile to do `make deploy`?

[2018-05-16 19:06] wuliuxiansheng opened #68 "mbed-os update?"
Does the mbed-os version fall behind the official mbed-os? Can we just update mbed-os by replacing it?

[2018-05-16 20:57] adamgreen commented on #67
You can checkout https://github.com/adamgreen/gcc4mbed/blob/master/notes/install.creole#deploy for more information on how the environment variable should be setup to enable the deploy rules.

[2018-05-16 21:03] adamgreen commented on #68
GCC4MBED currently uses a version of mbed-os from last year.

The following link does discuss how you can potentially upgraded the version of mbed-os used by gcc4mbed but mbed-os might have changed too much in the last year for that to work but you could try it: https://github.com/adamgreen/gcc4mbed/blob/master/notes/new_devices.creole#adding-new-devices-to-gcc4mbed

You might also want to investi

[2018-05-16 21:14] wuliuxiansheng commented on #68
Are you going to keep maintaining this project? You think I'd better use mbed-cli rather than gcc4mbed for offline builds? I feel gcc4mbed is a pretty nice tool and it also supports rosserial package which is very helpful.

[2018-05-16 21:19] adamgreen commented on #68
I don't have a current ETA for the next gcc4mbed update.

Why don't you try this:
* Give mbed-cli a try and see if it can be made to work for your rosserial needs.
* If it doesn't work out for you, come back here and let me know. That should be enough incentive for me to upgrade gcc4mbed for you and other ROS users :)

[2018-05-17 13:51] wuliuxiansheng commented on #68
I checked mbed-cli and I think it should work because it is actually just move your code from online compiler to your local machine which ended up with a pretty big thing. I feel this is not the workflow I'd like to use. With gcc4mbed, we just need to keep our own files for each project not the whole mbed stuff and ros library. Also gcc4mbed gives us more freedom to configure our projects using a

[2018-05-18 00:31] adamgreen commented on #68
I have a few projects that I want to finish up over the next couple of weeks. Once they are completed, I will take a look at updating this project.

[2018-05-21 15:30] wuliuxiansheng commented on #68
I'd like to work with you because this is a very useful tool for the community.

[2018-05-25 07:29] #67 closed

[2018-07-12 15:24] 100315837 opened #69 "gcc4mbed Ubuntu 14.04 Indigo"
Dear Adam,

I am trying to use the gcc4mbed compiler with ROS Indigo and Ubuntu 14.04 and I am having some issues. What do you recommend me to do?

Thanks in advance.

[2018-07-12 16:00] adamgreen commented on #69
What type of issues? Can you describe what you have done and what has failed?

[2018-07-12 16:37] 100315837 commented on #69
I have followed the Quick Start instructions from README (https://github.com/adamgreen/gcc4mbed/tree/gcc4.8-2014-q1_mbed91) and I have done the following:
1) :~/ROS/catkin_dev/src$ git clone https://github.com/adamgreen/gcc4mbed.git
2) ~/ROS/catkin_dev/src$ cd gcc4mbed
3) ~/ROS/catkin_dev/src/gcc4mbed(master)$ ./linux_install
Here is where the error appears(at the end):
~/ROS/catkin_dev/src/gcc4mb

[2018-07-12 18:52] adamgreen commented on #69
Are you running Ubuntu on a 64-bit Intel machine? The GNU Tools for ARM that I download as part of GCC4MBED only work on that platform.

Can you try going into the HelloWorld sample folder and manually running a verbose build?
[code]
Send me the output from that build attempt.

[2018-07-12 20:18] 100315837 commented on #69
Thank you Adam. My laboratory closes today and It opens again in September.
Thank you very much for being so attentive. I will send you a message again
in September, I would be very pleased for your help.

Thank you very much again.

Best regards,
Jorge

El jue., 12 jul. 2018 20:52, Adam Green <notifications@github.com> escribió:

[2018-07-12 20:53] adamgreen commented on #69
Ok. Reopen the issue once you get back in the lab. Sorry we couldn't figure it out today.

[2018-07-12 20:53] #69 closed

[2018-07-13 11:35] 100315837 commented on #69
Okey! I Will reopen the issue in September. Dont worry, we'll fix It! Thank
you very much Adam.

El jue., 12 jul. 2018 22:53, Adam Green <notifications@github.com> escribió:

[2018-09-23 10:48] calm0815 opened #70 "gcc4mbed raspbian stretch (ROS kinetic)"
Dear Adam,

I'm trying to set up the gcc4mbed compiler on raspbian stretch (ROS kinetic) .
But, linux_install cannot do its task. So, what can I do next ?

linux_install.log says
`
1Sun Sep 23 17:11:08 JST 2018 Starting ./linux_install
 2Sun Sep 23 17:11:08 JST 2018 Executing wget https://armkeil.blob.core.windows.net/developer/Files/downloads/gnu-rm/6_1-2017q1/gcc-arm-none-eabi-6-2017-q1-update-l

[2018-09-23 21:30] adamgreen commented on #70
The gcc4mbed install scripts just work for x86 desktop versions of Windows, macOS, and Linux. They don't work on ARM based development machines. Before these scripts existed, [these manual installation steps](https://github.com/adamgreen/gcc4mbed/blob/master/notes/install.creole#installation) documented how people should set their host machine up to build for mbed targets. You might want to start

[2018-09-27 06:42] #70 closed

[2018-11-23 04:03] electronicLight opened #71 "Helloworld led doesn't blink as expected"
I'm using Ubuntu 18.04. The installation instructions have worked and the samples have compiled. I copied the file HelloWorld.bin to my LPC1768 and restarted it. The program seems to work, but the led is supposed to blink every 0.2 seconds and for sure it takes more than 1 second. I played with values and It really seemed to work as expected except the frequency.

I'd like to program mbed offline

[2018-11-23 07:33] adamgreen commented on #71
I will look into it. I seem to remember fixing an issue like this before.

In the meantime, you could try:
* [Exporting to GCC from mbed online compiler](https://os.mbed.com/docs/v5.10/tools/exporting.html)
* [Using mbed CLI for offline compilation](https://os.mbed.com/docs/v5.10/tools/developing-mbed-cli.html)

[2018-11-30 20:33] adamgreen commented on #71
@electronicLight I am closing this bug since I can't reproduce the issue. If you get more information that can help me further investigate the issue, feel free to reopen.

[2018-11-30 20:33] #71 closed

[2018-12-17 14:08] VladasZ commented on #63
Hello Adam. Is there a way to build gcc4mbed  project with using CMake?

[2018-12-17 20:08] adamgreen commented on #63
@VladasZ You can generate a CMake'able mbed project from the mbed online compiler as one of the export options.

[2018-12-18 09:29] VladasZ commented on #63
@adamgreen Thank you.

[2019-02-23 07:25] chrisalbertson commented on #68
What advice would you give to someone starting a new project in 2019 using ROS Serial on mbed?

A new project would have a long life and I can't tie it to a platform that is not updated.     Seem like I need to stick with ROS Serial Arduino.

[2019-02-23 07:42] adamgreen commented on #68
@chrisalbertson Does the ROS community have a basic mbed application that gcc4mbed is used to build? I just don't know how gcc4mbed is used in the context of ROS. If you could point me to what you are trying to use gcc4mbed to build, I might be able to help you switch to using a build method supported by the mbed team itself.

[2019-02-23 17:22] wuliuxiansheng commented on #68
@chrisalbertson rosserial package doesn’t rely on gcc4mbed. You can use official mbed compiling tool to compile your code.

[2019-02-23 19:38] chrisalbertson commented on #68
Answering two questions:
1) I think the only ROS conation ti gcc4mbed is with ros_serial on the mbed platform.   ROS of course runs on Linux but ros_serial_mbed takes a little bit of ROS, the part used to pass data and beholds it on mbed and uses gcc4med for that.

2) but now @wuliuxiansheng says it is possible to use "official mbed compiling tool" rather then gcc4mbed.  But is that mbed CLI or th

[2019-02-23 19:59] chrisalbertson commented on #68
The problem may be documentation on the ROS web site is out of date?
http://wiki.ros.org/rosserial_mbed/Tutorials/rosserial_mbed%20Setup

If the above is out of date, I'd be willing to fix it after I learn how to
actually set it up myself.     So how do I use both the current mbed OS and
Meodic?

On Sat, Feb 23, 2019 at 9:22 AM Chao Liu <notifications@github.com> wrote:

--

Chris Albertson
Redond

[2019-02-23 20:05] wuliuxiansheng commented on #68
@chrisalbertson I think you can use online compiler and generate all ros header files by rosserial package for mbed platform.

[2019-02-28 08:29] adamgreen commented on #68
Is there anything I can do to help out with this? While I am not that familiar with ROS, I have quite a bit of mbed experience.

[2019-03-01 00:50] chrisalbertson commented on #68
I think the ROS_Serial people are trying are to use the Mbed CLI
compiler and maybe also the on-line compiler.     But I've not seen
any updates docs.

On Thu, Feb 28, 2019 at 12:29 AM Adam Green <notifications@github.com> wrote:

--

Chris Albertson
Redondo Beach, California

[2019-03-01 09:32] adamgreen commented on #68
Ok. Just let me know if there is anything I can do to help.

[2019-06-17 16:19] mateusmenezes95 opened #72 "Inclusion of FEATURE_LWIP"
Dear Adam!

https://github.com/adamgreen/gcc4mbed/blob/7d79ef307e65f4f913bed655c887a632352c286c/build/ARCH_MAX-device.mk#L11
Should not FEATURE_LWIP be included here?

When I try to compile the code without FEATURE_LWIP for the ARCH_MAX target, I get an error in not including the [EthernetInterface.h](https://github.com/adamgreen/gcc4mbed/blob/master/external/mbed-os/features/FEATURE_LWIP/lwip-int

[2019-06-17 16:57] mateusmenezes95 commented on #72
Sorry, I was wrong!

[2021-06-11 03:07] adamgreen commented on #63
This project is no longer under active development.

[2021-06-11 03:07] #63 closed

[2021-06-11 03:07] adamgreen commented on #68
This project is no longer under active development.

[2021-06-11 03:07] #68 closed

[2021-06-11 03:08] adamgreen commented on #72
This project is no longer under active development.

[2021-06-11 03:08] #72 closed